<div class="mvv mb-4">
    <h2 class="text-uppercase text-center">Missão Visão Valores</h2>
    <div class="mission d-block d-lg-flex px-4">
        <div class="mr-4" style="margin-bottom:5rem">
            <div class="mvvImg m-auto"></div>
        </div>
        <div class="d-flex d-lg-block flex-column align-items-center">
            <h4 class="text-center text-lg-left text-uppercase d-inline-block">Missão</h4>
            <div class="mt-4 pt-2 text-center text-lg-left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci augue, bibendum in enim a, feugiat consectetur ligula. Sed et blandit ex. Aliquam sed turpis sit amet quam sollicitudin vehicula. Morbi placerat efficitur mi id lobortis. Cras ultricies hendrerit enim, sed consectetur dui euismod in. Vestibulum id erat id neque tincidunt vestibulum ut sed eros. Donec quis felis eu metus interdum fringilla auctor vitae dui. Integer auctor laoreet eros, et interdum odio varius feugiat.
            </div>
        </div>
    </div>
    <div class="vision d-block d-lg-flex px-4">
        <div class="ml-4 d-block d-lg-none" style="margin-bottom:5rem">
            <div class="mvvImg m-auto"></div>
        </div>
        <div class="d-flex d-lg-block flex-column align-items-center">
            <h4 class="text-center text-lg-right text-uppercase d-inline-block float-right">Visão</h4>
            <div class="mt-4 pt-2 text-center text-lg-right float-right">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci augue, bibendum in enim a, feugiat consectetur ligula. Sed et blandit ex. Aliquam sed turpis sit amet quam sollicitudin vehicula. Morbi placerat efficitur mi id lobortis. Cras ultricies hendrerit enim, sed consectetur dui euismod in. Vestibulum id erat id neque tincidunt vestibulum ut sed eros. Donec quis felis eu metus interdum fringilla auctor vitae dui. Integer auctor laoreet eros, et interdum odio varius feugiat.
            </div>
        </div>
        <div class="ml-4 d-none d-lg-block" style="margin-bottom:5rem">
            <div class="mvvImg m-auto"></div>
        </div>
    </div>
    <div class="value d-block d-lg-flex px-4">
        <div class="mr-4" style="margin-bottom:5rem">
            <div class="mvvImg m-auto"></div>
        </div>
        <div class="d-flex d-lg-block flex-column align-items-center">
            <h4 class="text-center text-lg-left text-uppercase d-inline-block">Valores</h4>
            <div class="mt-4 pt-2 text-center text-lg-left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci augue, bibendum in enim a, feugiat consectetur ligula. Sed et blandit ex. Aliquam sed turpis sit amet quam sollicitudin vehicula. Morbi placerat efficitur mi id lobortis. Cras ultricies hendrerit enim, sed consectetur dui euismod in. Vestibulum id erat id neque tincidunt vestibulum ut sed eros. Donec quis felis eu metus interdum fringilla auctor vitae dui. Integer auctor laoreet eros, et interdum odio varius feugiat.
            </div>
        </div>
    </div>
</div>
