<div *ngIf="mvv" class="mvv mb-4">
    <h2 class="text-uppercase text-center">Missão Visão Valores</h2>
    <div class="mission d-block d-lg-flex px-4">
        <div class="mr-4" style="margin-bottom:5rem">
            <div class="mvvImg m-auto" [ngStyle]="{backgroundImage:'url('+mvv[0].acf.image+')'}"></div>
        </div>
        <div class="d-flex d-lg-block flex-column align-items-center">
            <h4 class="text-center text-lg-left text-uppercase d-inline-block">{{mvv[0].title.rendered}}</h4>
            <div class="mt-4 pt-2 text-center text-lg-left" [innerHTML]="mvv[0].content.rendered | keepHtml"></div>
        </div>
    </div>
    <div class="vision d-block d-lg-flex px-4">
        <div class="ml-4 d-block d-lg-none" style="margin-bottom:5rem">
            <div class="mvvImg m-auto" [ngStyle]="{backgroundImage:'url('+mvv[1].acf.image+')'}"></div>
        </div>
        <div class="d-flex d-lg-block flex-column align-items-center">
            <h4 class="text-center text-lg-right text-uppercase d-inline-block float-right">{{mvv[1].title.rendered}}</h4>
            <div class="mt-4 pt-2 text-center text-lg-right float-right" [innerHTML]="mvv[1].content.rendered | keepHtml"></div>
        </div>
        <div class="ml-4 d-none d-lg-block" style="margin-bottom:5rem">
            <div class="mvvImg m-auto" [ngStyle]="{backgroundImage:'url('+mvv[1].acf.image+')'}"></div>
        </div>
    </div>
    <div class="value d-block d-lg-flex px-4">
        <div class="mr-4" style="margin-bottom:5rem">
            <div class="mvvImg m-auto" [ngStyle]="{backgroundImage:'url('+mvv[2].acf.image+')'}"></div>
        </div>
        <div class="d-flex d-lg-block flex-column align-items-center">
            <h4 class="text-center text-lg-left text-uppercase d-inline-block">{{mvv[2].title.rendered}}</h4>
            <div class="mt-4 pt-2 text-center text-lg-left" [innerHTML]="mvv[2].content.rendered | keepHtml"></div>
        </div>
    </div>
</div>
