@keyframes show {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}

.show-animate{
  animation-name: show;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.hide-animate{
  animation-name: show;
  animation-duration: .3s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

body,html{
    font-family: 'IBM Plex Sans', sans-serif;
    height: 100%;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

.round{
  border-radius: 3.5rem;
}

a{
  color: white!important;
  cursor: pointer!important;
}

a.button{
  font-size: 1.2rem;
}

.button{
  cursor: pointer;
}

a.button{
    border-radius: 3.5rem;
    line-height: 2.5rem;
    padding: 0 2.6rem;
    margin-top: .5rem;
    text-transform: uppercase;
}

button.button{
  border-radius: 3.5rem;
  background-color: transparent;
  border: white 2px solid;
  color: white;
}

.content{
    padding: 0 5rem;
    margin: 4rem 0;
}

.mvvImg{
    background-image: url('assets/mvv.jpg');
    background-size: cover;
    width: 320px;
    height: 320px;
    border-radius: 100%;
    box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.25);
}

@media (max-width:768px) {
    .mvvImg{
        width: 220px;
        height: 220px;
    }
}

.degrade{
  background-color: #c4581b;
  background-image: url('/assets/overlay.png'), linear-gradient(90deg, #c4581b, #bf301d 90%);
}

h4::after{
    position: relative;
    top: 0.4em;
    content: '';
    height: 3px;
    display: block;
    width: 7rem;
}

h2::after{
    position: relative;
    top: 0.4em;
    content: '';
    height: 2px;
    display: block;
    width: 7rem;
    margin: auto;
}

h3::after{
    position: relative;
    top: 0.4em;
    content: '';
    height: 2px;
    display: block;
    width: 7rem;
    margin: auto;
}

.c-white{
  color: white;
}

h2.white::after,h3.white::after,h4.white::after{
  background: #ffffff;
}

h2:not(.white)::after,h3:not(.white)::after,h4:not(.white)::after{
  background-color: #c4581b;
  background-image: url('/assets/overlay.png'), linear-gradient(90deg, #c4581b, #bf301d 90%);
}

a,a:hover,a:focus{
    color: white;
    text-decoration: none;
}

.primary-bg{
    background-color: #c4581b;
    background-image: url('/assets/overlay.png'), linear-gradient(90deg, #c4581b, #bf301d 90%);
}

h1{
    margin-bottom: 4rem;
}

h1::after{
    background: #ffffff;
    position: relative;
    top: 0.75em;
    content: '';
    height: 2px;
    display: block;
    width: 5rem;
    margin: auto;
}
